@model Intex2017.Models.Employee

@{
    ViewBag.Title = "Employee Home";
}

<br />

<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "empHome", "Employees", new { id = Model.empID },null)</li>
    <li>@Html.ActionLink("Current Tasks", "Index","Tasks", new { id = Model.empID },null)</li>
    <li>@Html.ActionLink("Completed Tasks", "IndexCompleted", "Tasks", new { id = Model.empID }, null)</li>
    <li>@Html.ActionLink("Employee Details", "Index", "Employees", new { id = Model.empID },null)</li>
</ul> 
<br /><br />
<div>
    <h4>Welcome @Model.empFirstName to Northwest Labs.</h4>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />