@model Intex2017.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<br />

<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "empHome", "Employees", new { id = Model.empID }, null)</li>
    <li>@Html.ActionLink("Current Tasks", "Index", "Tasks", new { id = Model.empID }, null)</li>
    <li>@Html.ActionLink("Completed Tasks", "IndexCompleted", "Tasks", new { id = Model.empID }, null)</li>
    <li>@Html.ActionLink("Employee Details", "Index", "Employees", new { id = Model.empID }, null)</li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empSSNHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empWage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empPassword)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.empFirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.empLastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.empSSNHash)
        </td>
        <td>
            @Html.DisplayFor(model => model.empWage)
        </td>
        <td>
            @Html.DisplayFor(model => model.empEmail)
        </td>
        <td>
            @Html.DisplayFor(model => model.empPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.empID }) |
            @Html.ActionLink("Details", "Details", new { id=Model.empID }) 
        </td>
    </tr>


</table>
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <p>  You may only change your email and password.  To change other settings, please contact a Supervisor. </p>
</div>
 <br /><br /><br /><br />