@model Intex2017.Models.Representative

@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "repHome", "Representatives", new { id = Model.repID },null)</li>
    <li>@Html.ActionLink("Orders in Progress", "IndexProgress", "Orders", new { id = Model.repID }, null)</li>
    <li>@Html.ActionLink("Completed Orders", "IndexCompleted", "Orders", new { id = Model.repID }, null)</li>
    <li>@Html.ActionLink("Create Order", "Create", "Orders", new { id = Model.repID }, null)</li>
    <li>@Html.ActionLink("My Details", "Index", "Representatives", new { id = Model.repID },null)</li>
</ul>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=> model.repFirstName) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repPasswordHash)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.repFirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.repLastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.repPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.repEmail)
        </td>
        <td>
            @Html.DisplayFor(model => model.repUserName)
        </td>
        <td>
            @Html.DisplayFor(model => model.repPasswordHash)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.repID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.repID })
        </td>
    </tr>


</table>
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
  <p>  You may only change your phone number, email, usernme, or password.  To change other settings, please contact Northwest Labs. </p>
</div>
<div style="height:9px;"></div>
<br /><br /><br />