@model Intex2017.Models.Representative

@{
    ViewBag.Title = "repHome";
}

<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "repHome", "Representatives", new { id = Model.repID },null)</li>
    <li>@Html.ActionLink("Orders in Progress", "IndexProgress", "Orders", new { id = Model.repID },null)</li>
    <li>@Html.ActionLink("Completed Orders", "IndexCompleted", "Orders", new { id = Model.repID },null)</li>
    <li>@Html.ActionLink("Create Order", "Create", "Orders", new { id = Model.repID }, null)</li>
    <li>@Html.ActionLink("My Details", "Index", "Representatives", new { id = Model.repID },null)</li>
</ul>
<br /><br />
<div>
    <h4>  Hello, @Model.repFirstName welcome to Northwest Labs.</h4>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />