@model IEnumerable<Intex2017.Models.Order>

@{
    ViewBag.Title = "Progress";
}

<ul class="nav nav-tabs">
    <li class="active">
    <li>@Html.ActionLink("Home", "repHome", "Representatives", new { id = ViewBag.myid },null)</li>
    <li>@Html.ActionLink("Orders in Progress", "IndexProgress", "Orders", new { id = ViewBag.myid },null)</li>
    <li>@Html.ActionLink("Completed Orders", "IndexCompleted", "Orders", new { id = ViewBag.myid },null)</li>
    <li>@Html.ActionLink("Create Order", "Create", "Orders", new { id = ViewBag.myid }, null)</li>
    <li>@Html.ActionLink("My Details", "Index", "Representatives", new { id = ViewBag.myid },null)</li>
</ul>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderStatusDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderPctCompletion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderCustomerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDeliveryPaper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDeliveryElectronic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderAdvancePayment)
        </th>
        <th>
            @Html.DisplayName("Order Details")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderStatusDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDateDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderPctCompletion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderCustomerComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDeliveryPaper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDeliveryElectronic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderAdvancePayment)
        </td>
        <td>
            @* Link purposely does not work.  If accept bid, will finish.  Just for presentation  *@
            @Html.ActionLink("Order Details", "OrderDetails", new { id =ViewBag.myid })
        </td>
</tr>
}

</table>
<div style="height:5px;"></div>
<br /><br /><br /><br /><br /><br /><br /><br />